* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flex {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}
.padding {
  padding: 20px;
}
